@charset "utf-8";
/* CSS Document */

#logo {
	border:3px solid black;
	width:300px;
	
}

#banner {
	border:3px solid black;
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:72px;
	text-align:center;
	width:700px;
}

#navbar {
	margin-bottom:25px;
	margin-left:auto;
	margin-right:auto;
	height:80px;
	width:1080px;
}
#navbar td {
	background-color:yellow;
	border:3px solid black;
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	width:20%;
}

#footer {
	border:1px solid black;
	font-size:16px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	padding:5px;
	text-align:center;
	width:300px;
}