@charset "utf-8";
/* CSS Document */

#banner {
	background-color:#FFEBB1;
	border:3px solid black;
	cursor:pointer;
	margin:30px auto 25px auto;
	width:700px;
}
#banner h1 {
	font-size:72px;
	margin:0px;
	text-align:center;
}
#banner p {
	margin:0px;
	text-align:center;
}
#banner img {
	display:block;
	width:60%;
	height:100%;
	margin:0px 0px 0px auto;
}
#banner td {
	height:150px;
}

#navbar {
	margin: 25px auto;
	height:80px;
	width:1280px;
}
#navbar td {
	background-color:yellow;
	border:3px solid black;
	cursor:pointer;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	width:16%;
}
#navbar td:hover {
	background-color:blue;
	color:white;
}
#navbar td:hover div{
	display:block;
}
#navbar div {
	background-color:yellow;
	color:black;
	border:3px solid black;
	display:none;
	position:absolute;
	width:197px;
}
#navbar a{
	background-color:white;
	color:black;
	display:block;
	font-size:18px;
	padding: 3px 18px;
	text-align:start;
	text-decoration:none;
}
#navbar a:hover {
	background-color:blue;
	color:white;
}

#homepage{
	background-image:url(../images/Beach%20wear.png);
	border:3px solid black;
	height:369px;
	margin:auto;
	width:679px;
}
#homepage h1{
	background-color:#FFEBB1;
	border:3px dotted black;
	margin:280px auto 0 auto;
	padding:10px;
	text-align:center;
	width:500px;
}


#contact-us {
	background-color:white;
	border:3px solid black;
	margin:auto;
	padding:5px;
	text-align:start;
}
#contact-us td {
	border:1px dotted black;
	padding:10px;
}

#footer {
	background-color:#FFEBB1;
	border:1px solid black;
	font-size:16px;
	margin: 25px auto;
	padding:5px;
	text-align:center;
	width:300px;
}

.content {
	background-color:#FFEBB1;
	border:1px solid black;
	margin:25px auto;
	min-height:300px;
	width:80%;
}
.content h1 {
	color:#1C40B1;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	padding:5px;
	text-align:center;
	text-shadow:-2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black, 2px 2px 0 black;
}
.content h2 {
	color:yellow;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	text-align:center;
	text-shadow:-1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black;
}
.content img {
	display:block;
	margin:auto
}
.content form {
	background-color:#FFEBB1;
	padding:20px 10px;
}
.content table {
	margin:auto;
}
.content form td{
	padding:2px 5px;
}

.catalog {
	margin:auto;
}
.catalog td {
	cursor:pointer;
	height:400px;
	padding:16px 16px;
	text-align:center;
	width:250px;
}
.catalog td:hover {
	background-color:#3FFCFF;
	color:blue;
	font-size:120%;
}
.catalog img { 
	border:1px solid black;
	border-radius:2em;
	margin:auto;
	height:6cm;
	width:5cm;
}

.product img {
	float:left;
	width:50%;
}
.product div {
	float:right;
	width:50%;
	text-align:start;
}
.product h1 {
	text-decoration:underline;
	font-weight:bold;
}
.product h2 {
	color:red;
	font-size:36px;
	font-weight:bold;
}