@charset "utf-8";
/* CSS Document */

.catalogue {
	width:100%;
}
.catalogue td {
	cursor:pointer;
	padding:10px 16px;
	text-align:center;
	width:25%
}
.catalogue td:hover {
	background-color:#3FFCFF;
	color:blue;
}
.catalogue img { 
	border:1px solid black;
	border-radius:2em;
	width:100%;
}

@media screen and (max-width: 719px) {
	.catalogue td {
		display:inline-block;
		width:43.5%;
	}
}
@media screen and (max-width: 599px) {
	.catalogue td {
		width:42%;
	}
}
@media screen and (max-width: 479px) {
	.catalogue td {
		padding:10px 0px;
		width:98%;
	}
	.catalogue img {
		width:70%;
	}
}