@charset "utf-8";
/* CSS Document */

#contact-us { max-width: 750px }
#contact-us table {
	margin:auto;
	padding:10px;
}
#contact-us img {
	display:block;
	margin:auto;
	max-width:300px;
	width:100%;
}
#contact-us table table{
	background-color:white;
	border:3px solid black;
	padding:5px;
	text-align:start;
}
#contact-us table table td {
	border:1px dotted black;
	padding:10px;
}

@media screen and (max-width: 719px) {
	#contact-us td { display:block }
	#contact-us td td { display:table-cell }
}