@charset "utf-8";

#feedback-form{
	padding:0px 15px 10px 15px;
	max-width:550px;
}
#feedback-form table {
	width:100%
}
#feedback-form td{
	padding:2px 5px;
	font-weight:bold;
}
#feedback-form td:first-child { width:20% }

#fname, #lname, #email, #comments {
	width:98%;
}
#phone {
	min-width:120px;
	width:30%;
}

@media screen and (max-width: 599px) {
	#feedback-form td {
		font-size:14px;
	}
}
@media screen and (max-width: 479px) {
	#feedback-form td { display:block }
	#feedback-form td:first-child { width:100% }
	#feedback-form { padding: 0px 0px 15px 0px }
}