@charset "utf-8";

body { max-width: 800px }

.product img {
	float:left;
	padding:1%;
	width:48%;
}
.product div {
	float:right;
	padding:1%;
	width:48%;
	text-align:start;
}
.product h1 {
	text-decoration:underline;
	font-weight:bold;
}
.product h2 {
	color:red;
	font-size:36px;
	font-weight:bold;
}

@media screen and (max-width: 479px) {
	.product img {
		float:none;
		padding:0px;
		width:100%;
	}
	.product div {
		float:none;
		padding:0px;
		text-align:center;
		width:100%;
	}
}